/* BASE */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
}

/* FEED */
.feed {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

/* POST */
.post {
  background: white;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

/* IMAGE */
.post-img {
  width: 100%;
}

/* CONTENT */
.post-content {
  padding: 10px;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 15px;
  font-size: 22px;
  margin: 10px 0;
  cursor: pointer;
}

.actions span:hover {
  transform: scale(1.2);
}

/* LIKE ACTIVE */
.liked {
  color: red;
}

.admin-box {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  margin-top: 40px;
}

.admin-box input,
.admin-box textarea,
.admin-box select {
  width: 100%;
  padding: 10px;
}

